# Byte-compiled / optimized / DLL files
*.py[c]
*$py.class
__pycache__

# Distribution / packaging
.Python
.idea
.DS_Store
docs/build/
docs/build
develop-eggs/
dist/
dest
eggs/
.eggs/
lib/
MANIFEST
debug.log
