# Byte-compiled / optimized / DLL files
*.py[co]
*$py.class
__pycache__

# Distribution / packaging
build-scripts/win/bin/*.exe
.Python
.DS_Store
build/
develop-eggs/
dist/
dest
eggs/
.eggs/
lib/
MANIFEST
debug.log
