# OpenImageIO does not currently maintain installable python packages
OpenImageIO >= 2.3.0

# Qt5
PySide2 >= 5.12.0
shiboken2

psutil
requests
numpy

# 3rd-party integrations
shotgun_api3 >= 3.3.0
slack_sdk >= 3.18.0
